<h2>Members</h2>

<form method="POST" action="/members">
    <label>Name:</label><br>
    <input name="name"><br><br>

    <label>Details:</label><br>
    <input name="details"><br><br>

    <label>Title:</label><br>
    <input name="title"><br><br>

    <label>Level:</label><br>
    <select name="level">
        <option>Bronze</option>
        <option>Silver</option>
        <option>Gold</option>
    </select><br><br>

    <button type="submit">Add Member</button>
</form>


<ul>
<% members.forEach(m => { %>
    <li>
        <%= m.name %> (<%= m.level %>)
        <form method="POST" action="/members/delete">
            <input type="hidden" name="id" value="<%= m.id %>">
            <button>Delete</button>
        </form>
    </li>
<% }) %>
</ul>

<a href="/">Back</a>